<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <block name="title"><title>标题</title></block>
    </head>
    <body>
    <block name="menu"> 菜单</block>
    <block name="left"> 左边分栏</block>
    <block name="main"> 主分栏</block>
    <block name="right">右边分栏</block>
    <block name="footer"> 底部</block>
    </body>
</html>
