<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>内置标签assign</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!--ASSIGN标签用于在模板文件中赋值变量-->
        <assign name='var' value='123'/>
        
        <br/>
        <br/>
        <br/>
        
        <!--测试是否已经赋值-->
        <present name="var">
            var已经赋值
        <else/>
            var还没有赋值
        </present>
        
        
    </body>
</html>
