<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

内置标签switch
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <switch name='1'>
            <case value="1" >Value1</case>
            <case value="2" >Value2</case>
            <default/> default值
        </switch>
    </body>
</html>
