<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

模板布局测试
如果某些页面不需要使用布局模板功能，可以在模板文件开头加上 {__NOLAYOUT__}字符串。注意，在注释里添加也算添加了
-->

<html>
    
    <head>
        
        <title>模板布局测试</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
   
    <body>
        
        <div>模板布局测试页面</div>
    </body>
</html>
